<div class="container list-paniers">  
  <div class="page-header">
    <%= link_to new_farm_panier_path(@farm.slug), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau panier
    <% end %>

    <a class="btn btn-default change-view">
      <span class="glyphicon glyphicon glyphicon-th"></span>
      <span class="glyphicon glyphicon glyphicon glyphicon-list"></span>
    </a>
  </div>
  <div class="table-responsive">
    <%= render "list" %>
  </div>

  <div class="overview-display">
    <%= render "mosaique" %>
  </div>

</div>

<%= render 'helper/index', title:"Bienvenue dans vos paniers !", text:"Nulla dapibus dictum felis, vitae hendrerit sem efficitur ac. Ut iaculis ornare felis in blandit. Donec interdum aliquet nulla. " %>