<div class="container list-paniers">
  <div class="page-header">

    <a class="btn btn-default change-view">
      <span class="glyphicon glyphicon glyphicon-th"></span>
      <span class="glyphicon glyphicon glyphicon glyphicon-list"></span>
    </a>
  </div>
  <div class="table-responsive">
    <%= render "list" %>
  </div>

  <div class="overview-display">
    <%= render "mosaique" %>
  </div>

</div>
