<div class="container">
  <div class="page-header">
    <%= link_to farm_paniers_path(@farm), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retourner à la liste des paniers
    <% end %>
    <%= link_to edit_farm_panier_path(@farm,@panier), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifer ce panier
    <% end %>
    <h1>Panier</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Semaine:</dt>
    <dd><%= @panier.semaine %></dd>

  </dl>
</div>
