.panier-edit{
	.panier-item{
		padding: 20px 0;
		border-top: 1px solid lighten($grey, 15%);
		border-bottom: 1px solid lighten($grey, 15%);

		div[class^="col-md"]{
			height: 60px;
			line-height: 60px;
			display:inline-block;
			@media (max-width: 992px){
				height:auto;
				line-height:normal;
			}
			p, div{
				line-height: normal;
				vertical-align: middle;
				display: inline-block;
				color: darken($grey,30%);margin: 0;
				
			}
		}
		&--legend{
			font-family: $roboto-b;
			text-transform: uppercase;
		}
		&--img{
			display: inline-block;
			width: 15%;
			vertical-align: middle;
		}
		&--description{
			display:inline-block;
			width: 79%;
			padding-left: 15px;
			vertical-align: middle;
		}
		&--date{
			margin: 0;
		}
		&--title{
			font-size:18px;
			text-transform: uppercase;
			display:inline-block;
			font-family: $roboto-m;
			width: 100%;
			margin: 0;
		}
		&--variete{
			display: inline-block;
			margin: 0;
			color: darken($grey,30%);
		}
		&--quantity{
			color: darken($grey,30%);

		}
		&--price{
			color: darken($grey,30%);
		}
		&--total{
			display: inline-block;
			width: 100%;
			text-align:right;
			//border-bottom: 1px solid lighten($grey, 15%);
			span{
				display: inline-block;
				padding: 5px 15px;
				background-color: white;
				font-family: $roboto-b;
				color: $main-color;
				text-transform: uppercase;
			}
		}
	}
	.panier-dispo{
		margin: 60px 0;
		&--title{
			@extend .h1;
			margin-bottom:25px;
		}
		&--box{
			background-color:white;
			text-align:center;
			padding: 1.5em 1em;
			border: 1px solid lighten($grey, 15%);
			margin-bottom: 1em;
			min-height: 16em;
		}
		&--label{
			font-family: $roboto-b;
			font-size:15px;
			color: darken($grey,30%);
			text-transform: uppercase;
			width:100%;
			text-align:center;
			min-height:42px;
		}
		&--quantity{
			display:inline-block;
			width: 50%;
			margin: 10px auto;
			min-height:40px;
			padding: 0 10px;
			text-align:center;
			border: 1px solid lighten($grey, 15%);
		}
		&--add{
			display: inline-block;
			font-size:18px;
			height: 30px;
			width: 30px;
			line-height:27px;
			border-radius: 50%;
			background-color: $main-color;
			color: white;
			border:none;
			transition: all .2s $in-cubic ;
			&:hover{
				background-color:  darken($main-color, 10%);
			}
		}
		img{
			max-height: 80px;
			min-height:80px;
			margin-bottom:20px;
		}
	}
}


.btn{
	&-return{
		color: $grey;
		border: 1px solid $grey;
		padding: 5px 10px;
		text-transform:uppercase;
		font-family: $roboto-b;
		font-size:11px;
		position: relative;
		overflow: hidden;
		display: inline-block;
		transition: all .3s ease;
		span{
			position: absolute;
			left:-50px;
			top:0;
			bottom:0;
			margin: auto;
			height:10px;
			transition: all .3s ease;
		}
		&:hover, &:focus{
			color: $grey;
			text-decoration: none;
			padding-left: 20px;
			span{
				left:5px;
			}
		}
	}
}