.list-paniers{
	position: relative;
	.page-header{
		border-bottom: none;
	}
	h1{
		display: inline-block;
		margin: 0;
	}
	.btn-float{
		margin-right: 10px;
	}
	.change-view, .btn-float{
		float: right;
		min-height: 40px;
		.glyphicon-th{
			display: block;
		}
		.glyphicon-list{
			display: none;
		}
	}
	.overview-display{
		display: none;
	}

	&.overview{
		// change button
		.change-view .glyphicon-th{
			display: none;
		}
		.change-view .glyphicon-list{
			display: block;
		}

		// hide table and show overview
		.table{
			display: none;
		}
		.overview-display{
			display: block;
		}
	}

	.inline-list{
		display: inline-block;
		vertical-align: middle;
		float: left;
		padding: 10px;
		margin: 0;
		max-width: 300px;
		@include box-sizing(border-box);
		li{
			display: inline;
			font-style: italic;
			font-size: 13px;
			&:after{
				content: ' •';
			}
			&:last-child:after{
				content: '';
			}
		}
	}

	.overview-display{
		position: relative;
		.sidebar{
			ul li{
				text-align: left;
				padding-left: 30px;
			}
		}
		.valign{
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			@include transform(translate(0,0));
			.price{
				font-style: italic;
				font-size: 20px;
			}
		}
		> ul{
			padding: 0;
			margin: 0;
			margin-left: -15px;
			li{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				border: 3px solid $grey;
				color: $grey;
				width: 60px;
				height: 60px;
				line-height: 55px;
				font-weight: bold;
				margin: 15px;
				cursor: pointer;
				&.full{
					border: 3px solid $main-color;
					color: $main-color;
				}
				&:hover, &.active{
					border: 3px solid $dark-grey;
					color: $dark-grey;
				}
			}
		}
	}

}
.alert-plant {
    border: 3px solid red !important;
    color: red !important;
}