<div class="col-xs-6">
	<input class="form-control" type="text" id="city" placeholder="Entrez une adresse ou une ville pour recentrer la carte">
</div>
<div class="col-xs-3">
	<button class="btn btn_green" id="search">Recentrer la carte</button>
</div>
<div class="col-xs-3">
  <button class="btn btn_green" id="reload">Recommencer le dessin</button>
</div>
<div class="col-xs-12">
	<p><%= image_tag 'tuto.png', style: 'width:100px' %> <span class="glyphicon glyphicon-arrow-left"></span> Utilisez cet outil pour dessiner et délimiter votre ferme</p>
	<div id="map" style="height: 600px"></div>
</div>
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 46.1274747, lng: -2.2885729},
  mapTypeId: google.maps.MapTypeId.SATELLITE,
  zoom: 7,
});

var drawingManager = [];
var mapInstance = 0;
for(var i = 0; i < 90; i++) {
  drawingManager.push(
    new google.maps.drawing.DrawingManager({
      drawingControl: true,
      drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
          google.maps.drawing.OverlayType.POLYGON,
        ]
      },
      circleOptions: {
      fillColor: '#ffff00',
      fillOpacity: 1,
      strokeWeight: 5,
      clickable: false,
      editable: true,
      zIndex: 1
    }
    })
  );
}
var points = [];
drawingManager[0].setMap(map);

$(document).on('click','#search', function(event){
	event.preventDefault();
	$.getJSON('https://maps.google.com/maps/api/geocode/json?address=' + $('#city').val(), function(json){
		try {
			map.setCenter(json.results[0].geometry.location);
			map.setZoom(15);
		} catch(err) {
			console.log(err);
		}
	});
});

$(document).on('click','#reload', function(event){
  event.preventDefault();
  drawingManager[mapInstance].setMap(null);
  mapInstance += 1;
  drawingManager[mapInstance].setMap(map);
  $('#farm_location').val('');
  points = [];
});

google.maps.event.addListener(drawingManager[mapInstance], 'overlaycomplete', function (event) {
  var myPolygon = event.overlay;
  var len = myPolygon.getPath().getLength();
  var htmlStr = "";
  for (var i = 0; i < len; i++) {
    // Coordinates of drawn polygon
    points.push({lat: myPolygon.getPath().getAt(i).lat(), lng: myPolygon.getPath().getAt(i).lng()});

  }
  $('#farm_location').val('');
  $('#farm_lat').val(points[0].lat);
  $('#farm_lng').val(points[0].lng);
  for (var i=0; i < points.length; i++) {
    $('#farm_location').val($('#farm_location').val() + "{lat:"+points[i].lat+", lng:"+points[i].lng+"},");
  }
});
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
     async defer></script>