<div id="map" style="height: 600px"></div>
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 46.1274747, lng: -2.2885729},
  zoom: 8
});

var drawingManager = new google.maps.drawing.DrawingManager({
drawingControl: true,
drawingControlOptions: {
  position: google.maps.ControlPosition.TOP_CENTER,
  drawingModes: [
    google.maps.drawing.OverlayType.POLYGON,
  ]
},
circleOptions: {
  fillColor: '#ffff00',
  fillOpacity: 1,
  strokeWeight: 5,
  clickable: false,
  editable: true,
  zIndex: 1
}
});
var points = [];
drawingManager.setMap(map);
google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
  var myPolygon = event.overlay;
  var len = myPolygon.getPath().getLength();
  var htmlStr = "";
  for (var i = 0; i < len; i++) {
    // Coordinates of drawn polygon
    points.push({lat: myPolygon.getPath().getAt(i).lat(), lng: myPolygon.getPath().getAt(i).lng()});

  }
  $('#farm_location').val('');
  $('#farm_lat').val(points[0].lat);
  $('#farm_lng').val(points[0].lng);
  for (var i=0; i < points.length; i++) {
    $('#farm_location').val($('#farm_location').val() + "{lat:"+points[i].lat+", lng:"+points[i].lng+"},");
  }
});
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
     async defer></script>