<div class="container">
  <%= link_to farm_path(@farm.slug), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retourner à ma ferme
  <% end %>
  <h1>Modifier ma ferme</h1>
</div>

<%= render 'form_complete' %>

<%= render 'helper/index', style:"right:auto;left:1em;", title:"Dessiner une ferme", text:simple_format("Pour dessiner votre ferme, entrez votre adresse dans la barre de recherche, cliquez sur l'icône 'polygone' en haut de la carte. Vous pouvez ensuite créer les points des bords de votre forme un par un, en cliquant sur la carte aux endroits correspondant aux bords réels de votre ferme. <br/>Si vous avez fait une erreur, pas de panique, rechargez cette page et recommencez tranquillement.<br/>Vous pourrez toujours modifier les formes plus tard si besoin.") %>