<div class="container">
  <%= link_to farms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retourner à l'accueil
  <% end %>
  <h1>Modifier ma ferme</h1>
</div>

<%= render 'form_complete' %>
