<div class="new-farm">
	<div class="page-header">
	  <%= link_to farms_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Back
	  <% end %>
	  <h1>New farm</h1>
	</div>

	<%= render 'form' %>
</div>