<div class="container">
	<div class="page-header">
	  <%= link_to farm_path(@farm.slug), class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retourner à ma ferme
	  <% end %>
	  <h1>Nouvelle parcelle</h1>
	</div>

	<%= render 'form' %>

	<%= render 'helper/index', style:"bottom:auto;top:10%;", title:"Dessiner une parcelle", text:simple_format("Pour dessiner votre parcelle, il faut d'abord cliquer sur l'icône 'polygone' en haut de la carte, puis créer les points des bords de votre forme un par un, en cliquant sur la carte aux endroits correspondant aux bords de votre parcelle. <br/>Si vous avez fait une erreur, pas de panique, rechargez cette page et recommencez tranquillement.<br/>Vous pourrez toujours modifier les formes plus tard si besoin.") %>
</div>
