<ul class="col-xs-12 col-md-9">
	<% @hampers.each do |hamper| %>
  		<%= link_to farm_hamper_portions_path(hamper.farm.slug, hamper), class:"virgin", remote: true do %>
		  <li class="case <% unless hamper.planted? %>alert-plant<% end %> <% if hamper.portions.any? %>full<% end %>">
		  	<%= hamper.semaine %>
		  </li>
		<% end %>	  
	<% end %>
</ul>
<aside class="sidebar cards-container">
	<%= render 'dashboards/card', title: 'Votre panier' %>
		<div class="valign">
			<ul id="sidebar-portions" class="list-group">
				
			</ul>
		</div>
		</div>
	</div>
</aside>