<div class="container">
	<div class="page-header">
	  <%= link_to farm_hampers_path(@farm), class: 'btn-return' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retourner à la liste des paniers
	  <% end %>
	</div>

	<%= render 'form' %>
</div>
