<div class="section_grey">

<div class="container">
	<div class="page-header">
	  <%= link_to farm_hampers_path(@farm), class: 'btn btn-return' do %>
	    <span class="glyphicon glyphicon-menu-left"></span>
	    Retourner à la liste des paniers
	  <% end %>
	</div>

	<%= render 'form' %>
	
</div>
</div>
