<div class="container">
  <div class="page-header">
    <%= link_to farm_hampers_path(@farm), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retourner à la liste des paniers
    <% end %>
    <%= link_to edit_farm_hamper_path(@farm, @hamper), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifer ce panier
    <% end %>
    <h1>Panier</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Semaine:</dt>
    <dd><%= @hamper.week %></dd>

  </dl>
</div>


<%= render 'helper/index', title:"C'est ici qu'on se prend le chou", text:"Gérez le contenu de votre panier en fonction des légumes disponibles à cette période de l’année. Adaptez-le en fonction du prix, de la quantité et de la demande." %>