<div class="helper">
	<button type="button" class="helper-close close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<div class="helper-container">
		<figure class="helper-fig">
			<%= image_tag("carotte.svg", class: "helper-img")%>
		</figure>
		<div class="helper-content">
			<span class="helper-title"><%= title %></span>
			<p class="helper-text"><%= text %></p>
		</div>
	</div>
</div>