<div class="page-header">
  <%= link_to plantations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retourner à la liste des plantations
  <% end %>
  <%= link_to @plantation, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Voir la plantation
  <% end %>
  <h1>Modification des plantations plantation</h1>
</div>

<%= render 'form' %>
