<div class="container">
	<div class="page-header">
	  <%= link_to generations_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retourner à la liste
	  <% end %>
	  <h1>Nouvelle génération</h1>
	</div>

	<%= render 'form' %>
</div>
