<div class="container">
	<div class="page-header">
	  <%= link_to farm_path(@farm.slug), class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	  <h1>Modifier la parcelle</h1>
	</div>

	<%= render 'form' %>
</div>
