<section class="section section_grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Le tableau de bord, <br>qu'est-ce que c'est ?</h2>
        <div class="section-text">
          <p>Un outil qui vous accompagne dans la gestion de votre exploitation.</p>
          <p>« Tableau de Bord » est un outil développé en collaboration avec l’association « fermes d’avenir »(link). Cette association vise à répandre une nouvelle méthode d’agriculture comme la permaculture, basé sur le développement de petites exploitations. Néophytes dans l’univers du maraichage ou agriculteurs aguerris, cet outil vous permettra de composer vos paniers personnalisés aves des produits de saison. Il vous guidera tout au long du processus de croissance de vos plantes  grâce au planning détaillé de semis, plantation et récolte.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section_white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6"></div>
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Pour qui ?</h2>
        <div class="section-text">Phasellus volutpat commodo dapibus. Curabitur lacinia, urna vitae efficitur suscipit, dui ipsum aliquam erat, sit amet pharetra urna arcu vel est. Aenean tempus est id feugiat lacinia. Sed finibus lacus sed condimentum interdum. Praesent pellentesque aliquet ante, ac mattis sem facilisis a. Quisque venenatis ut massa a volutpat. Proin tempus odio elementum felis consequat ornare. Maecenas lacinia at ligula vel feugiat. Maecenas porttitor nibh sit amet sapien tincidunt, et facilisis diam volutpat. Aliquam luctus diam ut nibh volutpat rhoncus. Nulla viverra scelerisque leo, fringilla aliquet magna vestibulum nec. Suspendisse porttitor et dolor a feugiat.</div>
      </div>
    </div>
  </div>
</section>
