<section class="section section_grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Le tableau de bord, <br>qu'est-ce que c'est ?</h2>
        <div class="section-text">
          <p class="highlight">Un outil qui vous accompagne dans la gestion de votre exploitation.</p>
          <p>« Tableau de Bord » est un outil développé en collaboration avec l’association <a href="http://www.fermesdavenir.org/" target="_blank">Fermes d’Avenir</a>. Cette association vise à répandre une nouvelle méthode d’agriculture comme la permaculture, basé sur le développement de petites exploitations. Néophytes dans l’univers du maraichage ou agriculteurs aguerris, cet outil vous permettra de composer vos paniers personnalisés aves des produits de saison. Il vous guidera tout au long du processus de croissance de vos plantes  grâce au planning détaillé de semis, plantation et récolte.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag('home1.png') %>
      </div>
    </div>
  </div>
</section>
<section class="section section_white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag('home2.png') %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Pour qui ?</h2>
        <div class="section-text highlight">Cet outil s’adresse aussi bien aux candidats à l’installation d’une microferme (agriculteurs en devenir) ou des propriétaires disposés à en accueillir une (collectivités locales, entreprises, particuliers…).</div>
      </div>
    </div>
  </div>
</section>

<button class="btn btn_back-top">Retourner en haut</button>
<% if current_user %>
  <%= link_to 'Créer ma ferme', new_farm_path, class:"btn btn_green btn_create-panier" if current_user.farm.nil? %>
<% else %>
  <%= link_to 'Créer ma ferme', new_user_registration_path, class:"btn btn_green btn_create-panier" %>
<% end %>