.dashboard {
  .meteo{
    h3{
      font-size: 18px;
      text-transform: capitalize;
      &.normal{
        text-transform: none;
      }
    }
    p {
      padding: 5px;
      margin-bottom: 0px;
    }
    #meteo-icon {
      font-size: 70px;
      margin: 20px 0px 25px;
    }
  }
}
