.dashboard {
  .cards-container {
    margin: 10px 0px;
  }
  .greenblock {
    color: $mint-green;
    background-color: #fff;
    border-bottom: 3px solid $mint-green;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 100%;
    margin-bottom: 1em;
  }
  .list-group {
    margin-bottom: auto;
    background-color: transparent;
  }
  .whiteblock {
    background-color: #F6F6F6;
    box-shadow: 1px 1px 10px #E6E6E6;
    text-align: center;
    width: 100%;
    min-height: 300px;
    padding-bottom: 1em;
  }

  .list-group {
    margin-bottom: auto;
  }

  h2 {
    color: $mint-green;
    text-align: center;
    font-size: 1em;
    margin: 0;
  }

  .btn_green {
    padding: .7em .7em;
  }


  #big {
    font-size: 2em;
  }

  #backdash {
    background-color: #F7F8F7;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  #img_panier {
    width: 3em;
    height: 3em;
    margin: auto;
  }

  #panier {
    margin-bottom: 1em;
  }

  li {
    border: none;
  }

  i {
    color: $mint-green;
    margin-right: 5px;
  }

  img {
    margin-right: 20px;
  }
  .finished{
    font-size: 70px;
  }
  .finished, .valign {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
  .card-bloc {
    margin: 10px 0px;
  }
  .meteo{
    h3{
      font-size: 18px;
      text-transform: capitalize;
      &.normal{
        text-transform: none;
      }
    }
  }
}
