.progress-bar {
	background: $mint-green
}
#parcelle-progress {
	display: none;
}
#parcelle-controls {
	display: none;
}
.user-location{
	margin-bottom: 30px;
	input{
		width: 66.66667%;
		padding-right: 0;
		height: 45px;
	}
}
.user-form{
	margin-bottom: 20px;
	p{
		margin: 0;
		line-height: 44px;
	}
}
.save{
	margin-bottom: 40px;
	.btn-right{
		text-align: right;
	}
}

.farm{
	#map{
		margin: 0 auto;
		z-index: 1;
	}
	.side-infos{
		background-color: #fff;
		padding: 0 0 0 30px;
		min-height: 500px;
		&.show{
			.inner *{
				opacity: 1;
			}
			.advice{
				display: none;
			}
		}
		h3{
			width: 100%;
			margin: 0;
			text-align: center;
			font-weight: normal;
			color: #fff;
			background-color: $mint-green;
			font-size: 22px;
			line-height: 45px;
			text-transform: uppercase;
		}
		.advice{
			margin-top: 50px;
			position: absolute;
			text-align: left;
			font-style: italic;
			z-index: 1;
			width: 300px;
			left: 50%;
			margin-left: -140px;
			em{
				color: #A09D9D;
				font-size: 12px;
				line-height: normal;
			}
		}
		.inner{
			padding: 7px;
			width: 100%;
			min-height: 455px;
			background-color: #fff;
			border: 3px solid $mint-green;
			* {
				opacity: 0;
				transition: 0.4s all ease;
			}
		}
	}
	h4{
		width: 100%;
		margin: 10px 0 30px 0;
		font-size: 24px;
		line-height: normal;
	}
	ul{
		padding: 0;
		li{
			list-style-type: none;
			width: 100%;
			margin: 0;
			padding: 10px;
			min-height: 40px;
			box-sizing: border-box;
			word-break: break-word;
			margin-bottom: 10px; 
			min-height: 100px;
			&:first-child, &:nth-child(2){
				border-bottom: 1px solid $mint-green;
			}
			&.half{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				span{
					display: block;
					font-size: 20px;
					text-transform: uppercase;
					color: $mint-green;
				}
			}
		}
	}
	#parcelle-progress{
		margin-top: 20px;
		p{
			font-style: italic;
		}
	}
	#parcelle-controls{
		a{
			vertical-align: middle;
			i{
				vertical-align: middle;
			}
		}
	}
}