//////////////////////////////
// Footer

.btn_back-top {
	display: block;
	margin: auto;
	color: $black;
	text-transform: none;
	transition: color .3s ease-in-out;

	// &:after {
	// 	content:"Retourner en haut";
	// 	position: absolute;
	// 	top: .9em;
	// 	left: 1.4em;
	// 	max-width: 0;
	// 	color: $grey;
	// 	background-color: #fff;
	// 	overflow: hidden;
	// 	transition: max-width .4s ease-in;
	// }

	&:focus {
    outline: none;
  }

	&:active {
    outline: none;
    box-shadow: none;
  }

	&:hover {
		color: $grey;
		// &:after {
		// 	max-width: 100%;
		// 	transition: max-width .4s ease-out;
		// }

	}
}

.footer {
	padding: 2em 0;
	width: 100%;
	color: #fff;
	background-color: #81c69e;
	&.fixed-bottom{
		position: fixed;
		bottom: 0;
		z-index: 1;
		left: 0;
	}
	img {
		width: 300px;
	}

	.img_petit {
		height: 40px;
	width: auto;
	max-height: 100%;
	}

}

.cellfooter {
	@media (min-width: $md-small) {
	display: table-cell;
	vertical-align: bottom;
	float: none;
	text-align: center;
}
@media (max-width: $md-small){
    text-align: center;
}
}

.footer-logo {
	display: block;
	text-align: center;

	img {
		display: inline-block;
		width: 100%;
		max-width: 20em;
	}
}
