.light-green {
	background : $light-green;
}
.mint-green {
	background : $mint-green;
}
.dark-green {
	background : $dark-green;
}

.petitcoul {
	width: 8px;
	height: 21px;
}

.left {
	float: left;
}

.espace {
	margin-left: 10px;
}
