//////////////////////////////
// Global

// Selection
::-moz-selection {
	text-shadow: none;
	color: $selection-color;
	background: $selection-bg;
}

::selection {
	text-shadow: none;
	color: $selection-color;
	background: $selection-bg;
}


// Global settings
*,
*:after,
*:before {
	position: relative;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: $font-size;
	overflow-x: hidden;

	// Better font rendering for mac
	&.mac {
		// @include antialiased;
	}

	// Media queries
	@media (min-width: $md-medium) {
		font-size: $font-size + 1;
	}

	@media (min-width: $md-large) {
		font-size: $font-size + 2;
	}

	@media (min-width: $md-larger) {
		font-size: $font-size + 3;
	}

	@media (min-width: $md-largest) {
		font-size: $font-size + 4;
	}
}

body {
	font-family: $font-family;
	font-size: 1em;
	color: $font-color;
	min-height: 100%;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.img_petit {
	max-width: 25%;

	&_right {
		float: right;
	}
}

.mobile-img-absolute{
	padding-bottom: 125px;
	.mobile-absolute{
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));
	}
}

a{
	color: $main-color;
	text-decoration: none;
	&:hover{
		color: $main-color-darker;
	}
}
.container {
	@media (min-width: $md-large) {
		width: 1180px;
	}
	@media (min-width: $md-larger) {
		width: 1350px;
	}
}
// Sections
.section {
	padding: 2em 0;
	@media (max-width: $md-small) {
		padding: 2em 0;
	}
	@media (max-width: $md-medium) {
		padding: 1.5em 0;
	}

	&-title{
		font-weight: 300;
	}

	&_grey {
		color: $black;
		background-color: $grey-light;
	}

	&_white {
		color: $main-color;
		background-color: #fff;

		.section-title {
			&:after {
				background-color: $main-color;
			}
		}
	}

	@media (max-width: $md-medium) {
		padding: 4em 0;
	}
}

.table{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	@media (max-width: $md-small) {
		display: block;
		text-align: center;
	}
	> div{
		display: table-cell;
		vertical-align: middle;
		float: none;
		@media (max-width: $md-small) {
			display: block;
			img{
				float: none;
			}
		}
		img {
				margin: 20px;
		}
	}
}

.section-title {
	position: relative;
	margin: 0 0 1em;
	padding-bottom: .5em;
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;

	&.center {
		width: 100%;
		text-align: center;

		&:after {
			right: 0;
			margin: auto;
			@media (max-width: $md-small) {
				right: initial;
				left: 50%;
			}
		}
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 1em;
		height: .1em;
		background-color: $black;
		@media (max-width: $md-small) {
			left: 50%;
			margin-left: -0.5em;
		}
	}

	@media (max-width: $md-small) {
		font-size: 1.5em;
	}
}

.section-text {
	line-height: 1.4;

	p {
		margin: .5em 0;
		@include letter-spacing(60, 14);
	}
}

h3 {
	font-weight : bold;
	@include letter-spacing(60, 14);
}

// Btn
.btn {
		z-index: 1;
    display: inline-block;
    padding: .9em 1.4em 1em;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background: 0 0;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;

		&:before {
			content:"";
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			transform: scaleX(0) skew(-30deg);
			transform-origin: 0 0;
			transition: transform .2s ease-in;
		}
}

.btn-primary {
		color: #2e6da4;
		border-color: #2e6da4;

}

.btn_green {
	color: #fff;
	background-color: $main-color;

	&:before {
		background-color: darken($main-color, 10%);
	}

	&.btn_stroke {
		color: $main-color;
		border-color: $main-color;
	}

	&:hover {
		color: #fff;
		background-color: $main-color;

		&:before {
			transform: scaleX(1) skew(0deg);
			transition: transform .4s ease-out;
		}

		&.btn_stroke {
			color: #fff;
		}
	}
}

.btn_stroke {
	background-color: #fff;
  border-width: 1px;
  border-style: solid;
  transition: color .3s ease-in-out;

  &:hover {
  	background-color: #fff;
  }
}

.btn_create-panier {
	display: block;
	max-width: 14em;
	margin: 2em auto;
}
.right {
	float:right;
	@media (max-width: $md-small) {
		float: none;
	}
}
.left {
	float:left;
	@media (max-width: $md-small) {
		float: none;
	}
}
.highlight{
	color: $main-color;
}
.alert-success {
	max-width: 400px;
    margin: auto;
}
