// Place all the styles related to the legumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
$grey-light : #eee;
$black			: #222;
$main-color	: #319966;

// Header
.header {
	position: relative;
	padding: 1em 0;
	text-align: center;
	background-color: #fff;
}

.header-logo {
	display: inline-block;

	svg {
		display: block;
		width: 10em;
		height: 5em;
	}
}

.header-links {
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	transform: translateY(-50%);
}

// Sections
.section {
	padding: 4em 0;

	&.section_grey {
		color: $black;
		background-color: $grey-light;		
	}

	&.white {
		color: $main-color;
		background-color: #fff;

		.section-title {

			&:after {
				background-color: $main-color;
			}
		}
	}
}

.section-title {
	position: relative;
	margin: 0 0 1em;
	padding-bottom: .5em;
	font-size: 2em;
	font-weight: 700;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 1em;
		height: .1em;
		background-color: $black;
	}
}

// Footer
.footer {
	padding: 2em 0;
	color: #fff;
	background-color: $black;
}