<% @panier.portions.each do |portion| %> 
	<li><%= portion.quantity %>KG de <%= portion.legume.titre %></li>
<% end %>

<p><%= get_cart_total(@panier.portions) %> €</p>

<%= link_to farm_panier_portions_path(@panier.farm.slug, @panier) do %>
  <span class="glyphicon glyphicon-plus"></span>
  Voir le panier
<% end %>