<div class="page-header">
  <%= link_to farm_hamper_portions_path(@hamper.farm.slug, @hamper), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to farm_hamper_portion_path(@hamper.farm.slug, @hamper, @portion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing portion</h1>
</div>

<%= render 'form' %>
