<div class="container">
<div class="page-header">
  <%= link_to panier_portions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list"></span>
    Retourner aux produits du panier
  <% end %>
</div>
  <h1>Ajouter un légume au panier</h1><br>

<%= render 'form' %>
</div>
