<div class="page-header">
  <%= link_to hamper_portions_path(@hamper), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_hamper_portion_path(@hamper, @portion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show portion</h1>
</div>