<div class="container">
	<div class="page-header">
	  <%= link_to legumes_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retourner à la liste des légumes
	  <% end %>
	</div>

	<%= render 'form' %>
</div>
