<div class="section_grey">
<div class="container">
	<div class="page-header">
	  <%= link_to legumes_path, class: 'btn btn-return' do %>
	    <span class="glyphicon glyphicon-menu-left"></span>
	    Retourner à la liste des légumes
	  <% end %>
	</div>

	<%= render 'form' %>
</div>
</div>
