<div class="container">
	<div class="page-header">
	  <%= link_to legumes_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list"></span>
	    Retourner à la liste des légumes
	  <% end %>
	  <h1>Rajouter un légume</h1>
	</div>

	<%= render 'form' %>
</div>
