.login{
	text-align: left;
	background-color: #fff;
	margin: 40px auto;
	max-width: 400px;
	padding: 50px;
	border: 1px solid #e7e7e7;
	
	@media (max-width: 500px) {
 		 	max-width: 280px;
	}

	&-label{ 
		margin: 1.5em 0 .75em;
		font-size: .8em;
		font-weight: 300;
	}

	&-field{
		em{
			font-size: .8em;
		}		
	}

	h2{
		color: $main-color-darker;
		font-size: 1.2em;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 500;
		// &:before{
		// 	content: "";
		//     position: absolute;
		//     top: 35px;
		//     left: 50%;
		//     transform: translateX(-50%);
		//     display: block;
		//     width: 2.4em;
		//     height: .1em;
		//     background-color: $main-color-darker;
		// }
	}

	.btn_submit {
		display: block;
		width: 100%;
		transition: background .3s ease-in-out;
		outline: none;
		&:hover {
			background-color: $main-color-darker;
			outline: none;
		}
	}

	.actions{
		margin-top:20px; 
		width: 100%;
	}

	&-input{
		background-color: #f7f8f7;
		width: 100%;
		padding: .5em;
		font-size: .8em;
		box-shadow: none;
		border: 1px solid #dddddd;
		transition: all 0.2s;
	}

	&-input:hover{
		background-color: #efefef;
		border-left: 3px solid $main-color-lighter;
	}

	&-input:focus{
		border-left: 3px solid $main-color-lighter;
	}
	&-forgot{
		margin-left: 15px;
	}

	a{
		font-size: 0.8em;
		display: inline-block;
		padding: 10px 10px 0px 0px;
	}

	br{
		display: none;
	}
}

.signup-background{
	background-color: #f7f8f7;
	padding: 30px;
}