$vert-clair: #7DC89C;
.signup{
		text-align: left;
		background-color: #fff;
		margin: 40px auto;
		width: 400px;
		padding: 50px;
		border: 1px solid #e7e7e7;

	&-label{ 
		margin: 15px 0px;
		font-size: 0.8em;
	}
	&-field{
		em{
			font-size: 0.8em;
		}
	}
	h2{
		color: #3caf76;
		font-size: 1.2em;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 500;
	}
	&-submit{
		width: 300px;
		height: 40px;
		border: none;
		background-color: $vert-clair;
		color: #fff;
		font-size: 0.9em;
		&:hover{
		background-color:#73b990;
		}
	}
	.actions{
		margin-top:20px; 
		display: inline-block;
	}
	&-input{
		background-color: #f7f8f7;
		width: 300px;
		height: 25px;
		padding: 15px 0px 15px 8px;
		font-size: 0.7em;
		box-shadow: none;
		border: 1px solid #dddddd;
		transition: all 0.2s;
	}
	&-input:hover{
		background-color: #efefef;
		border-left: 3px solid $vert-clair;
	}
	&-input:focus{
		border-left: 3px solid $vert-clair;
	}
}
.signup-background{
	background-color: #f7f8f7;
	padding: 30px;
}